<!DOCTYPE html>
<html>
  <head>
    <title>SLO Trash Graph</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
    <style type="text/css">
      :root, body { margin: 0; padding: 0 }
      #graph { height: 300px }
    </style>
  </head>
  <body>
    <div id="graph"></div>
    <p>(drag to zoom, shift-drag to pan, double-click to zoom out)</p>
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.0/dygraph-combined.js"></script>
    <script>
      var filename = '/history/{{ name }}';
      var graph = new Dygraph(
        document.getElementById('graph'), 
        filename,
        {
          labels: ['x', 'distance', 'temperature'],
          showRoller: true
        }
      );
      window.setInterval(function () {
        graph.updateOptions({file: filename});
      }, 10000);
    </script>
  </body>
</html>
