<!DOCTYPE html>
<html>
  <head>
    <title>SLO Trash</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <style type="text/css">
      :root, body { margin: 0; padding: 0 }
      body { display: flex }
      #graph-wrap { width: 400px; height: 100vh; overflow: auto; display: none }
      h3 { text-align: center; font-family: sans-serif }
      #map-wrap { flex-grow: 1; }
      #map { height: 100vh }
    </style>
  </head>
  <body>
    <div id="map-wrap">
      <div id="map"></div>
    </div>
    <div id="graph-wrap">
      <h3></h3>
      <div id="graph"></div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.0/dygraph-combined.js"></script>
    <script>
      var graphUpdateInterval = null;
      var fields = ['distance', 'temperature', 'moisture'];
      var labels = ['Distance [cm]', 'Temperature [°C]', 'Moisture [%]']
      var openGraph = function (event) {
        window.clearInterval(graphUpdateInterval);
        var name = event.target.options.name;
        var now = new Date().getTime();
        $('#graph-wrap h3').text(name);
        $('#graph-wrap div').remove();
        var graphs = fields.map(function (field, index) {
          var filename = '/history/' + name + '?fields=' + field;
          var elem = document.createElement('div');
          $('#graph-wrap').append(elem);
          return new Dygraph(
            elem,
            filename,
            {
              width: 400,
              height: 200,
              labels: ['x', field],
              ylabel: labels[index],
              dateWindow: [now - 3600000, now]
            }
          );
        });
        graphUpdateInterval = window.setInterval(function () {
          graphs.forEach(function (graph) {
            graph.updateOptions({file: filename});
          });
        }, 10000);
        $('#graph-wrap').css('display', 'block');
      };
      var closeGraph = function () {
        $('#graph-wrap').css('display', 'none');
        window.clearInterval(graphUpdateInterval);
      };
      var map = L.map('map').setView([35.28, -120.67], 14);

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
          maxZoom: 18,
          id: '{{ mapbox_id }}',
          accessToken: '{{ mapbox_token }}'
      }).addTo(map);

      $.getJSON('/trashcans', function(data) {
        data.trashcans.forEach(function(t) {
          var title = t.name + ': ';
          if (t.distance !== null)
            title += t.distance + ' ' + t.units +
                     ' (' + t.percent + '%)' +
                     '<br><a href="/graph/' + t.name + '">History</a>';
          else
            title += 'no data';
          L.marker(t, {
            title: title,
            name: t.name
          }).addTo(map).on('click', openGraph);
        });
        if (data.trashcans.length)
          map.fitBounds(data.trashcans, {maxZoom: 14});
      });
    </script>
  </body>
</html>
